@use "../variables" as *;

.logo-on-details {
  position: fixed !important;
  margin-left: calc(($belt_width - 148px) / 2) !important;

  transition: margin 0.7s;
}

.with-left-space {
  margin-left: calc($belt_width + 48px);
}

@media (max-width: 950px) {
  .logo-on-details {
    position: static !important;
    margin-left: 0 !important;
  }
  .with-left-space {
    margin-left: 0;
  }
}
