@use "./variables" as *;

#content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
  min-height: calc(100vh - 88px - 64px);
  margin: 0 auto;
  margin-top: 88px;
  margin-bottom: 64px;
  color: var(--main_color);
}

@media (max-width: 768px) {
  #content {
    width: max(328px, 90%);
  }
}
