.grid {
  display: grid;
  gap: 16px;
  justify-content: center;
}

$media: (
  0: 2,
  580: 3,
  950: 4,
  1250: 5,
  1650: 6,
  2040: 7,
);

@each $size, $column in $media {
  @media (min-width: #{ $size }px) {
    .grid {
      grid-template-columns: repeat(
        auto-fill,
        calc((100% - 16px * ($column - 1)) / $column)
      );
    }
  }
}
