@use "../variables" as *;

.tabs {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 16px;
  margin: 0;
  margin-bottom: 48px;

  .tab {
    padding: 0px 16px;
    font-size: 1.3rem;
    line-height: 2.2rem;
    font-weight: 500;
    text-align: center;

    &:hover,
    &:focus {
      color: var(--light) !important;
    }
    &:active {
      border: 1px solid transparent;
      box-shadow: 0 0 1px 1px transparent inset;
    }
  }
}

$colors: (
  1: var(--violet),
  2: var(--red),
  3: var(--skyblue),
  4: var(--yellow),
);
/*#47c25c*/
@each $i, $color in $colors {
  .tab:nth-child(#{ $i }) {
    background: $color;
  }
  .tab:nth-child(#{ $i }):has(input:checked) {
    color: var(--light);
    border: 1px solid $color;
    box-shadow: 0 0 0 0 var(--main_color) inset;
  }
}

@media (max-width: 768px) {
  .tabs {
    width: 230px;
    flex-wrap: wrap;
    align-self: center;
  }
}
